easydict==1.9
gdown==4.0.1
gpytorch==1.9.0
h5py==3.4.0
huggingface-hub==0.10.1
hydra-core==1.0.7
ninja==1.10.2
numexpr==2.8.4
openpyxl==3.0.10
pandas==1.3.2
parameterized==0.7.4
robustness==1.2.1.post2
scikit-learn==0.24.1
scipy==1.7.0
submitit==1.3.3
tensorboard==2.6.0
tensorboard-logger==0.1.0
tensorboardX==2.5.1
timm==0.8.6.dev0
tokenizers==0.13.1
torch==1.13.0
torchvision==0.14.0
transformers==4.24.0
vissl==0.1.6
wilds==2.0.0
netcal==1.1.2
matplotlib>=2.2.2
psycopg2-binary
